{% extends "listings/base.html" %}

{% block content %}
    <h2>{{ band.name }}</h2>

<ul class="band-detail-list">
 <li>Genre : {{ band.get_genre_display }}</li>
 <li>Année de formation : {{ band.year_formed }}</li>
 <li>Actif : {{ band.active | yesno }}</li>
    <li><a href="{{ band.official_homepage }}">{{ band.official_homepage }}</a></li>
</ul>

<p>{{ band.biography }}</p>

    <h2 class="center-title">Les articles en rapport avec ce groupe</h2>
    <ul>
    {% for listing in band.listing_set.all %}
        <li><a href="{% url 'listing_details' listing.id%}" class="listing-detail"> {{ listing.title }}</a></li>
    {% endfor %}
    </ul>

    <a href="{% url 'band_change' band.id%}">Modifier le groupe</a>

    <a href="{% url "band_list" %}">Retour à tous les groupes</a>
    <a href="{% url 'band_delete' band.id %}" class="link-delete">Supprimer</a>
{% endblock %}
