{% extends "listings/base.html" %}
{%block content%}
    <h1>Nos articles</h1>
    <ul class="listing-list">
    {% for listing in listings %}
        <li> <div class="listing-card">
            <a href="{% url 'listing_details' listing.id %}">{{listing.title}}</a>
            <dt class="p-t--1em">
                {% if listing.sold %}
                    En stock
                {% else %}
                    Hors stock
                {% endif %}
            </dt>
        </div>
        </li>
    {% endfor %}
    </ul>
{% endblock %}